.upload-demo{
    display:inline-block;
}
.el-upload{
    vertical-align:middle;
}
.el-upload-list{
    width:150px;
    display:inline-block;
    vertical-align:middle;
}
.el-upload-list__item:first-child{
    margin-top:0!important;
}
/*three*/
/*模态框element样式*/
.el-form-item__content{
    text-align:left;
}
.el-form-item__content button{
    float:right;
    margin-right:30px;
}


/* four */
/*element table表格状态类名颜色*/
.el-table .red-row{
    /* background: #c9e5f5; */
    background:#f99090;
}
.el-table .green-row {
    /* background: #e2f0e4; */
    background:#9ee29e;
}
.el-table .yellow-row{
    background:#efef5c;
    /* background:#dee4f7; */
}
.el-table .blue-row{
    background:#7073f1;
}
.el-table th>.cell{
    text-align:center;
}
/* 编辑页面同意挂机费用禁用 */
.disable.el-switch.is-disabled .el-switch__core {
    border-color: rgb(19, 206, 102)!important;
    background: rgb(19, 206, 102)!important;
}



/* admin/four */
.el-select.search .el-input{
	width:120px;
}
/* 分页 */
.page_content .state_tips ul.el-pager{
	line-height:28px;
}


/* 多页面表格状态色 */
.el-table .one-row{
    background: #c9e5f5;
}
.el-table .two-row {
    background: #e2f0e4;
}
.el-table .three-row{
    background:#dee4f7;
}
.el-table .four-row{
    background:#f7dada;
}

/*对话框取消确定按钮重置*/
.el-button--primary.quxiao{
    background: #fff;
    border: 1px solid #bfcbd9;
    color: #1f2d3d;
  }
  .el-button--primary.quxiao:focus,.el-button--primary.quxiao:hover{
      color: #20a0ff;
    border-color: #20a0ff;
  }
  .el-button.queding{
      color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
  }
  .el-button.queding:hover{
      background: #4db3ff;
    border-color: #4db3ff;
    color: #fff;
  }