.upload-demo{
    display:inline-block;
}
.el-upload{
    vertical-align:middle;
}
.el-upload-list{
    width:150px;
    display:inline-block;
    vertical-align:middle;
}
.el-upload-list__item:first-child{
    margin-top:0!important;
}
/*three*/
/*模态框element样式*/
.el-form-item__content{
    text-align:left;
}
.el-form-item__content button{
    float:right;
    margin-right:30px;
}