.upload-demo{
    display:inline-block;
}
.el-upload{
    vertical-align:middle;
}
.el-upload-list{
    width:150px;
    display:inline-block;
    vertical-align:middle;
}
.el-upload-list__item:first-child{
    margin-top:0!important;
}
/*three*/
/*模态框element样式*/
.el-form-item__content{
    text-align:left;
}
.el-form-item__content button{
    float:right;
    margin-right:30px;
}


/* four */
/*element table表格状态类名颜色*/
.el-table .one-row {
    background: #c9e5f5;
}
.el-table .two-row {
    background: #e2f0e4;
}
.el-table .three-row{
    background:#dee4f7;
}
.el-table .four-row{
    background:#f7dada;
}
.el-table th>.cell{
    text-align:center;
}

/* admin/four */
.el-select.search .el-input{
	width:120px;
}
/* 分页 */
.page_content .state_tips ul.el-pager{
	line-height:28px;
}