*{margin:0;padding:0;}
html{
    /* min-width:1400px; */
}
html,body{
     /* width:100%; */
    height:100%; 
    overflow: hidden;
}
body{
    font-family:"Helvetica Neue",Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    /*min-width:900px;overflow-x:scroll;*/
}
#app,.wrapper{
    width:100%;
    height:100%;
    overflow:auto;
}
a{text-decoration: none}
input{
    margin:0;
    padding:0;
    border:0;
    font:inherit;
    vertical-align:baseline;
    box-sizing:border-box;
}
:focus{
    outline:0 none;
}
input:-webkit-autofill{
    -webkit-box-shadow:0 0 0px 1000px white inset;
    /* border:1px solid #ccc!important; */
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.clearfix:after { content:"."; display:block; height:0; visibility:hidden; clear:both; }                                                            
/*伪类清除*/
.clearfix { zoom:1; }    

/*路由transtion过渡效果*/
.move-enter-active,.move-leave-active{
    transition: opacity .5s;
}
.move-enter,.move-leave{
    opacity: 0;
}
/*右边page内容块*/
.content {
    background: none repeat scroll 0 0 #fff;
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom: 0;
    width: auto;
    padding: 25px 25px 75px;
    box-sizing: border-box;
    overflow-y: scroll;
}
/* type number样式清除 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0; 
}
input[type="number"]{-moz-appearance:textfield;}